body {
    font-family: Verdana;
}

h2 {
    color: red;
}

b {
    color: red;
}

form {
    font-size: 75%;
}

/*.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover
{color:#fff;background-color:red}*/


.inline {
  display: inline-block;
}


input[type=text] {
    font-size: 50%;
    padding: 0.25em;
}

input[type=submit] {
    background-color: red;
    color: white;
    font-size: 50%;
    padding: 0.25em 1em;
    border-radius: 20px;
}

#recipediv {
  display: inline-block;
  width: 350px;
  height: 250px;
}

#fooddiv {
  display: inline-block;
  width: 150px;
  height: 100px;
  color: red;
}

footer {
  margin-top: 2em;
  margin-bottom: 1em;
  color: #666;
  border-top: solid 1px #666;
  padding-top: 1em;
}
