body {
    font-family: 'Open Sans', sans-serif;
    color: #6194BC;

}

.jumbotron {
  background-image: url(fridge-of-food.jpg);
  position: relative;
}


.navlink {
  background-color: #A5D1F3;
}

h1 span {
  background-color: rgba(255,255,255, 0.5);
  color: black;
}

p span {
  background-color: rgba(255,255,255, 0.5);
  color: black;
}

#jumbotext h1 p span {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}


.recipetext {
  background-color: rgba(255,255,255, 0.5);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.btn {
  background-color: red;
  color: white;
  border: 0px;
}


.container-fluid{
    height: 90%;
    width: 90%;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
}
h2, h3, h4, h6 {
    color: red;
}

b {
    color: #6194BC;
}

form {
    font-size: 75%;
}

.inline {
  display: inline-block;
}

#remove-food-btn {
  display: inline-block;
}

input[type=text] {
    font-size: 50%;
    padding: 0.25em;
}

input[type=submit] {
    background-color: #6194BC;
    color: white;
    border: 0px;
}

input[type=reset] {
    background-color: red;
    color: white;
    font-size: 50%;
    padding: 0.25em 1em;
    border-radius: 20px;
}

button {
    font-size: 12px;
    padding: 0.1em 1em;
    border-radius: 30px;
}

button.inline {
  color: red;

}

.text {
  color: #6194BC;
  font-size: 14px;
}

#logo {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

#display-recipes {
  color: #6194BC;
}

a {
  color: #6194BC;
}

#api-recipes {
  display: inline-block;
  width: 350px;
  height: 250px;
}

#favdiv {
  display: inline-block;
  width: 350px;
  height: 250px;
}

#fooddiv {
  display: inline-block;
  width: 150px;
  height: 100px;
  color: red;
  font-size: 16px;
}

