<!DOCTYPE html>
<html>
<head>
    <title>Foodio</title>
    <link href="static/foodio.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <!-- ABOVE LINE -->

<!--     <hr> -->
    <h2> foodio </h2>
    
     <!-- Show flashed messages -->
      {% with messages = get_flashed_messages() %}
          {% for message in messages %}
              <div class="alert alert-warning">{{ message }}</div>
          {% endfor %}
      {% endwith %}


    {% block content %} CONTENT HERE {% endblock %}
<footer>&copy; Copyright 2018 Foodio</footer>
</body>
</html>