<!DOCTYPE html>
<html>
<head>
    <title>Foodio</title>

 
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <!-- custom CSS -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
{% block styles %}
{% endblock %}


  <!-- JavaScript/jQuery -->
  <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>

<body>
  <div class="container-fluid">
  
     <!-- Show flashed messages -->
      {% with messages = get_flashed_messages() %}
          {% for message in messages %}
              <div class="alert alert-success" role="alert">
                {{ message }}
              </div>
          {% endfor %}
      {% endwith %}


    {% block content %} CONTENT HERE {% endblock %}

  </div>
</body>
</html>