{% extends 'base.html' %}

{% block styles %}
  <link href="static/homepage.css" rel="stylesheet">
{% endblock %}


{% block content %}

<body>

    <!-- Static navbar -->

    <div id="homepage" class="container-fluid">
        <div class="row">
                <div class="mx-auto">
                <br><br><br><br><br>
                    <h1>Foodio</h1>
                        
                        <center>

                        <button id='login' class="btn inline">Log In</button>
                        <button id='register' class="btn inline">Register</button>

                          <div id='homepageForm'>
                            <!-- login/register forms -->
                          </div>

                        </center>

                </div>
        </div>
    </div>

        <script type=text/javascript src="{{
          url_for('static', filename='login-register.js') }}"></script>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


{% endblock %}

