{% extends 'base.html' %}

{% block styles %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  <link href="static/foodio.css" rel="stylesheet">
{% endblock %}


{% block content %}

<!-- NAV BAR -->

  <nav id="user-home" class="navbar navbar-expand-lg navbar-dark" style="background-color: red;">
    <span id="logo" class="navbar-brand" href="#">Foodio</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">

       <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" style="color:white;" href="#my-refrigerator">My Refrigerator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color:white;"  href="#recipes">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color:white;" href="#favorites">Favorites</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color:white;" href="/logout">Log Out</a>
        </li>
        </li>
      </ul>
    </div>

  </nav>
  <br><br>


<!-- JUMBOTRON -->
  <div class="jumbotron">

    <div id='jumbotext' class='container'>

      <h1><span>Welcome, {{ user_name }}!</span></h1>

      <p><span>Dinner made easy with Foodio!</span></p>
      <hr>
      <br><p><span>Virtually maintain your refrigerator to find delicious 
        recipes with ingredients you already have! Yumm!</span></p>
  
      <a id='jumbo' class="btn" href="#my-refrigerator" role="button">Get started</a>
    </div>

  </div> 

<br><br>


<div data-spy="scroll" data-target="#user-home" data-offset="0">

 <!-- /////////////////// DISPLAY FOOD IN REFRIGERATOR///////////////////// -->

      <br>

      <div id='display-food'>

      <h2 id="my-refrigerator">My Refrigerator</h2><br>
      <p>
        
        {% for item in user_refrigerator %}
        <div id='fooddiv'>

          <!-- food name, image, quantity -->
          {{ item.food.food }} <br>
          <img src="https://spoonacular.com/cdn/ingredients_100x100/{{ item.food.food }}.jpg" alt"food-img" style="width:75px;height:75px;" />
          <br>Qty: {{ item.food.quantity }} <br>

          <!-- add button -->
          <form id='add-quantity-form' class="inline">
          <p hidden id="add-btn-{{ loop.index }}">{{ item.food.food_id }}</p> 
          <button type='button' id="add-btn-{{ loop.index }}" value='+' onClick="addQuantity(this)"><b>+</b></button>
          </form>

          <!-- subtract button -->
          <form id='subtract-quantity-form' class="inline">
          <p hidden id="sub-btn-{{ loop.index }}">{{ item.food.food_id }}</p> 
          <button type='button' id="sub-btn-{{ loop.index }}" value='-' onClick="subQuantity(this)"><b>-</b></button>
          </form>

          <br><br>

        </div>

        {% endfor %}

      </div>


        <!-- load JS  -->
        <script type=text/javascript src="{{
          url_for('static', filename='add-quantity.js') }}"></script>

        <script type=text/javascript src="{{
          url_for('static', filename='sub-quantity.js') }}"></script>

<br><br>
</div>


<!-- ADD/REMOVE FOOD -->

<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-add" role="tab" aria-controls="v-pills-home" aria-selected="true">Add ingredient</a>

      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-remove" role="tab" aria-controls="v-pills-profile" aria-selected="false">Remove ingredient</a>

    
    </div>
  </div>

  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      
          <div class="tab-pane fade show active" id="v-add" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <!-- ////////////////////ADD FOOD TO REFRIDGERATOR ///////////////////////// -->
            <div id='add-food'>
              <datalist id="foods">

                {% for food in food_list %}
                  <option value="{{ food }}">  
                {% endfor %}

              </datalist>

              <form id='add-food-form' >
                <text class='text'>
                Ingredient:</text> <input type="text" id='ingredient' name="ingredient" list="foods">
                <text class='text'>Quantity: </text><input type="text" id='quantity' name="quantity">
                <input id='add-food-btn' type='submit' value='add'>
              </form>
            </div>  
            <!-- load JS  -->
            <script type=text/javascript src="{{
              url_for('static', filename='add-food.js') }}"></script>
          </div>


        <div class="tab-pane fade" id="v-remove" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <!-- //////////////////REMOVE FOOD FROM REFRIDGERATOR /////////////////////// -->

          <div id='remove-food'>

            <form id='remove-food-form'>
         
              <div id='rmfood'>
                <select id="rm-ingredient" name="rm-ingredient">
                  {% for item in user_refrigerator %}
                      <!-- item object of food, at food name -->
                      <option value="{{item.food.food_id}} {{item.food.food}}">{{ item.food.food }}</option>
                  {% endfor %}
                </select>
              </div>
              <input id='remove-food-btn' class='inline' type='submit' value='remove'>
            
            </form>
          </div>   

          <script type=text/javascript src="{{
            url_for('static', filename='remove-food.js') }}"></script>

          <br><br>
      </div>

</div>
</div>
</p>

<br><br><br><br><br>

 <!-- ////////////////////////DISPLAY RECIPES ///////////////////////////// -->

        <div id="display-recipes"><br><br><br>
          <h2 id="recipes">Recipes</h2>
          <p> 

            <div id='recipediv'>

            <script type=text/javascript src="{{
              url_for('static', filename='display-recipes.js') }}"></script>
            
            </div>

        </div>


      <br><br><br>
  </p>
</div>
<br><br><br>

<h2 id="favorites">Favorites</h2><br>
  <p>
 <!-- /////////////////////DISPLAY FAVORITE RECIPES //////////////////////// -->

        <div id="display-favs">

            {% for item in fav_recipes %}

            <div id='favdiv'>

            {{ item.title }} <br>
            <a href="{{ item.url }}">
            <img src="{{ item.img}}" alt="Image"></a>

            <br>
            <!-- Delete button goes here -->
            <form id='delete-fav' class="inline">
            <button type='button' id="del-btn-{{ loop.index }}" value="{{ item.title }}" onClick="delRecipe(this)">delete</button>
            </form>
            <br><br>

            </div>
            {% endfor %}

        </div>

        <!-- load js -->
          <script type=text/javascript src="{{
            url_for('static', filename='del-fav.js') }}"></script>
<br><br><br>
  </p>



{% endblock %}
