{% extends 'base.html' %}
{% block content %}

USER HOME PAGE:
<br><br><br>
 <!-- /////////////////// DISPLAY ITEM IN REFRIGERATOR///////////////////// -->

Available food in refrigerator:<br>

<div id='display-food'>
  {% for item in user_refrigerator %}<text>
      {{ item.food.food }} <br></text>
  {% endfor %}
</div>

<br><br>
 <!-- ////////////////////ADD ITEM TO REFRIGERATOR////////////////////////// -->

<div id='add-food'>

  <form id='add-food-form'>
  Add 
  <select id='food_type' name="food_type">
    <option value="1p">protein</option>
    <option value="2v">vegetables</option>
    <option value="3f">fruits</option>
    <option value="4d">dairy</option>
    <option value="5g">grains</option>
  </select> 
  to fridge:<br>

    Ingredient: <input type="text" id='ingredient' name="ingredient"><br>
    Quantity: <input type="text" id='quantity' name="quantity"><br>
  <!--   Expires on:<input type="text" name="expiration"> -->

    <input type='submit' value='add'>
  </form>
</div>  

<!-- load JS  -->

<script type=text/javascript src="{{
  url_for('static', filename='add-food.js') }}"></script>

<br><br><br>

 <!-- ///////////////////REMOVE ITEM TO REFRIGERATOR/////////////////////// -->

<div id='remove-food'>
  <form id='remove-food-form'>
  Remove ingredient from fridge:<br>
    <select id="rm-ingredient" name="rm-ingredient">
      {% for item in user_refrigerator %}
          <!-- item object of food, at food name -->
          <option value="{{item.food.food_id}} {{item.food.food}}">{{ item.food.food }}</option>
      {% endfor %}
      &nbsp;
      <input type='submit' value='remove'>
    </select>
  </form>

</div>


<!-- load JS  -->

<script type=text/javascript src="{{
  url_for('static', filename='remove-food.js') }}"></script>
<br><br><br><br><br>

<a href='/logout'>Log Out</a> 

<!-- ADD INGREDIENTS TO USER REFRIGERATOR -->


{% endblock %}
