{% extends 'base.html' %}
{% block content %}


USER HOME PAGE:
<br><br><br>
Available food in refrigerator:<br>

  {% for item in user_refrigerator %}
      <!-- item object of food, at food name -->
      {{ item.food.food }} <br>

  {% endfor %}

<br>

  <form action="/add-food" method="POST">
  Add 
  <select name="food_type">
    <option value="d">dairy</option>
    <option value="v">vegetables</option>
    <option value="f">fruits</option>
    <option value="g">grains</option>
    <option value="p">protein</option>
  </select> 
  to fridge:<br>

  <form action="/add-food" method="POST">
    Ingredient: <input type="text" name="ingredient"><br>
    Quantity: <input type="text" name="quantity"><br>
  <!--   Expires on:<input type="text" name="expiration"> -->
    <input type="hidden" name="user_id" value={{ user_id }}>

    <input type='submit' value='add'>
  </form>

<br><br><br>



  <form action="/remove-food" method="POST">
  Remove ingredient from fridge:<br>
    <select name="rm-ingredient">
      {% for item in user_refrigerator %}
          <!-- item object of food, at food name -->
          <option value="{{item.food.food_id}}">{{ item.food.food }}</option>
      {% endfor %}
    <input type="hidden" name="user_id" value={{ user_id }}>

      &nbsp;
      <input type='submit' value='remove'>
    </select>
  </form>

<br><br><br><br><br>

<a href='/logout'>Log Out</a> 

<!-- ADD INGREDIENTS TO USER REFRIGERATOR -->


{% endblock %}
